## 사용방법 정리

In [14]:
import pandas as pd
from sklearn.metrics import mean_squared_error
##check cheat 의 줄임말
def cc(filename):
    notnull_cheat = pd.read_csv("small_test_cheat.csv")
    fm = pd.read_csv(f"{filename}", index_col=0) #model load
    notnull_cheat = notnull_cheat.merge(fm, how = 'left', left_on=['user_id', 'isbn'], right_on = ['user_id','isbn'])
    return mean_squared_error(notnull_cheat['rating_y'], notnull_cheat['rating'])**0.5 #rmse 측정

#0.04 오차범위

In [9]:
cc('../catboost_ed3_feature_add.csv')

1.838050237802567

In [16]:
cc('../submit/catboost_ed3_feature_add.csv')

1.838050237802567

In [17]:
cc('../submit/catboost.csv')

1.849597257315021

In [22]:
notnull_cheat = pd.read_csv("small_test_cheat.csv")

In [24]:
output = pd.read_csv("../submit/output (1).csv")

In [27]:
output.groupby(['user_id'])['rating'].agg(['mean', 'count', 'std']).describe()

               mean         count          std
count  26167.000000  26167.000000  9382.000000
mean       6.816846      2.931135     0.400166
std        1.053081     13.415821     0.285096
min        2.017382      1.000000     0.000000
25%        6.528424      1.000000     0.200889
50%        7.002845      1.000000     0.362271
75%        7.306225      2.000000     0.537098
max        9.564485   1419.000000     2.666532

In [28]:
output.groupby(['isbn'])['rating'].agg(['mean', 'count', 'std']).describe()

               mean         count          std
count  52000.000000  52000.000000  7696.000000
mean       6.874573      1.474981     0.845376
std        1.167297      2.359290     0.594243
min        1.940978      1.000000     0.000000
25%        6.395960      1.000000     0.429178
50%        7.010095      1.000000     0.746136
75%        7.624298      1.000000     1.123912
max        9.606332    141.000000     4.204388

In [29]:
best = pd.read_csv("../submit/output (4).csv")

In [30]:
best.groupby(['isbn'])['rating'].agg(['mean', 'count', 'std']).describe()

               mean         count          std
count  52000.000000  52000.000000  7696.000000
mean       6.917718      1.474981     0.762925
std        1.095549      2.359290     0.529779
min        1.850597      1.000000     0.000000
25%        6.430186      1.000000     0.387940
50%        7.030792      1.000000     0.677727
75%        7.628330      1.000000     1.018985
max        9.710387    141.000000     3.819754

In [32]:
notnull_cheat.groupby(['isbn'])['rating_y'].agg(['mean', 'count', 'std']).describe()

               mean         count          std
count  13179.000000  13179.000000  4316.000000
mean       7.654394      1.920252     1.436594
std        1.605593      2.542866     0.917297
min        1.000000      1.000000     0.000000
25%        7.000000      1.000000     0.707107
50%        8.000000      1.000000     1.414214
75%        9.000000      2.000000     2.081666
max       10.000000     53.000000     5.656854